<div class="w-full flex flex-col items-start gap-10">
  <!-- START::HEADER -->
  <atlas-dashboard-header
    class="w-full"
    [eyebrow]="baseTranslationPoint + 'header.eyebrow' | translate"
    [title]="baseTranslationPoint + 'header.title' | translate"
    [subTitle]="baseTranslationPoint + 'header.subtitle' | translate"
  >
    <!-- START::CONTROLS -->
    <ng-container class="header-controls">
      <!-- START::CONTROLS -->
      <div class="flex flex-row items-center gap-2">
        <!-- START::REVIEW SHIPMENT BTN -->
        <atlas-button
          [label]="baseTranslationPoint + 'header.inviteBtn' | translate"
          size="small"
        ></atlas-button>
        <!-- END::REVIEW SHIPMENT BTN -->
      </div>
      <!-- END::CONTROLS -->
    </ng-container>
    <!-- END::CONTROLS -->
  </atlas-dashboard-header>
  <!-- END::HEADER -->

  <!-- START::GRID -->
  <div class="grid grid-cols-12 w-full gap-8">
    <!-- START::TENANTS LIST -->
    <atlas-card
      class="col-span-4 w-full"
      [title]="baseTranslationPoint + 'tenantsCard.title' | translate"
      [description]="
        baseTranslationPoint + 'tenantsCard.description'
          | translate: { count: tenants().length || 0 }
      "
    >
      <!-- START::CARD BODY -->
      <ng-container class="card-body">
        <!-- START::TENANTS LIST -->
        <div class="flex flex-col items-start gap-4 w-full">
          @for (tenant of tenants(); track $index) {
            <atlas-tenant-list-item
              class="w-full"
              (onSelect)="handleSelectTenant(tenant)"
              [tenant]="tenant"
              [selected]="tenant?.tenantId === selectedTenant()?.tenantId"
            ></atlas-tenant-list-item>
          }
        </div>
        <!-- END::TENANTS LIST -->
      </ng-container>
      <!-- END::CARD BODY -->
    </atlas-card>
    <!-- END::TENANTS LIST -->

    <!-- START::TENANTS USER LIST -->
    <atlas-card
      class="col-span-8 w-full"
      [title]="
        baseTranslationPoint + 'usersCard.title'
          | translate
            : {
                name:
                  selectedTenant()?.name ||
                  (baseTranslationPoint + 'usersCard.defaultTenantName' | translate)
              }
      "
      [description]="baseTranslationPoint + 'usersCard.description' | translate"
    >
      <!-- START::CARD BODY -->
      <ng-container class="card-body">
        <atlas-tenant-users-table></atlas-tenant-users-table>
      </ng-container>
      <!-- END::CARD BODY -->
    </atlas-card>
    <!-- END::TENANTS USER LIST -->
  </div>
  <!-- END::GRID -->
</div>
