<div class="w-full flex flex-col items-start gap-10">
  <!-- START::HEADER -->
  <atlas-dashboard-header
    class="w-full"
    [eyebrow]="'TENANT ADMINISTRATION'"
    [title]="'Access management'"
    [subTitle]="'Manage tenant availability, user roles, and access without leaving the compliance workspace.'"
  >
    <!-- START::CONTROLS -->
    <ng-container class="header-controls">
      <!-- START::CONTROLS -->
      <div class="flex flex-row items-center gap-2">
        <!-- START::REVIEW SHIPMENT BTN -->
        <atlas-button [label]="'Invite tenant user'" size="small"></atlas-button>
        <!-- END::REVIEW SHIPMENT BTN -->
      </div>
      <!-- END::CONTROLS -->
    </ng-container>
    <!-- END::CONTROLS -->
  </atlas-dashboard-header>
  <!-- END::HEADER -->
</div>
