<!-- START::FORM CONTAINER -->
<section class="w-full h-full lg:flex lg:flex-col lg:items-center lg:justify-center relative">
  <section
    class="w-full h-full lg:w-125 lg:h-auto flex flex-col items-center justify-center gap-6 bg-neutral-surface border border-neutral-line lg:rounded-3xl p-6 lg:p-10 shadow-lg! fixed top-0 left-0 lg:relative"
  >
    <div class="flex flex-col gap-6 w-full max-w-125">
      <!-- START::IDENTITY -->
      <div class="w-full flex flex-col items-center">
        <atlas-identity class="hidden lg:block"></atlas-identity>
        <atlas-identity class="block lg:hidden" [size]="'md'"></atlas-identity>
      </div>
      <!-- END::IDENTITY -->

      <!-- START::HEADER -->
      <div class="flex flex-col gap-1">
        <span class="text-xs font-semibold text-cyan uppercase">{{
          baseTranslationPoint + 'secureAccess' | translate
        }}</span>
        <span class="text-3xl font-bold text-primary">{{
          baseTranslationPoint + 'welcomeBack' | translate
        }}</span>
        <span class="text-sm text-normal text-secondary">{{
          baseTranslationPoint + 'welcomeBackDescription' | translate
        }}</span>
      </div>
      <!-- END::HEADER -->

      <!-- START::FORM -->
      <form class="w-fit min-w-full flex flex-col gap-4" [formGroup]="form">
        <!-- START::GRID -->
        <div class="grid grid-cols-1 gap-4">
          <!-- START::[email] -->
          <div class="flex flex-col gap-2 col-span-1">
            <atlas-form-email-input
              class="w-full"
              formControlName="email"
              [label]="baseTranslationPoint + 'email' | translate"
              [required]="true"
            ></atlas-form-email-input>
          </div>
          <!-- END::[email] -->

          <!-- START::[password] -->
          <div class="flex flex-col gap-2 col-span-1">
            <atlas-form-password-input
              class="w-full"
              formControlName="password"
              [label]="baseTranslationPoint + 'password' | translate"
              [required]="true"
            ></atlas-form-password-input>
          </div>
          <!-- END::[password] -->
        </div>
        <!-- END::GRID -->
      </form>
      <!-- END::FORM -->

      <!-- START::FORM CONTROLS -->
      <div class="flex flex-row gap-3 items-center justify-center mt-3">
        <!-- START::SUBMIT BTN -->
        <atlas-button
          [label]="baseTranslationPoint + 'login' | translate"
          (onClick)="onSubmit()"
          [disabled]="form.invalid"
          [styleClasses]="'w-full'"
          [size]="'small'"
          class="w-full"
        ></atlas-button>
        <!-- END::SUBMIT BTN -->
      </div>
      <!-- END::FORM CONTROLS -->

      <!-- START::FOOTER -->
      <div class="flex flex-col items-center justify-center">
        <p class="text-secondary text-xs font-normal w-fit text-center">
          {{ baseTranslationPoint + 'footerDescription' | translate }}
        </p>
      </div>
      <!-- END::FOOTER -->
    </div>
  </section>
</section>
<!-- END::FORM CONTAINER -->
