<div class="w-full flex flex-col items-start gap-8">
  <!-- START::HEADER -->
  <atlas-dashboard-header
    class="w-full"
    [eyebrow]="baseTranslationPoint + 'header.eyebrow' | translate"
    [title]="baseTranslationPoint + 'header.title' | translate"
    [subTitle]="baseTranslationPoint + 'header.subtitle' | translate"
  >
    <!-- START::CONTROLS -->
    <ng-container class="header-controls">
      <!-- START::CONTROLS -->
      <div class="flex flex-row items-center gap-2">
        <!-- START::REVIEW SHIPMENT BTN -->
        <atlas-button
          [label]="baseTranslationPoint + 'header.reviewShipmentsBtn' | translate"
          size="small"
          (onClick)="navigateToShipments()"
        ></atlas-button>
        <!-- END::REVIEW SHIPMENT BTN -->
      </div>
      <!-- END::CONTROLS -->
    </ng-container>
    <!-- END::CONTROLS -->
  </atlas-dashboard-header>
  <!-- END::HEADER -->

  <!-- START::METRICS -->
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 w-full gap-8">
    @for (metric of metrics(); track $index) {
      <atlas-overview-metric
        class="col-span-1 h-full"
        [title]="metric.titleKey | translate"
        [value]="metric.value"
        [details]="metric.detailsKey | translate"
        [symbol]="metric.symbol"
        [symbolColor]="metric.symbolColor"
        [symbolBackground]="metric.symbolBackground"
      ></atlas-overview-metric>
    }
  </div>
  <!-- END::METRICS -->

  <!-- START::GRID -->
  <div class="grid grid-cols-1 xl:grid-cols-12 w-full gap-8">
    <!-- START::RECENTLY UPDATED CARD -->
    <atlas-card
      class="col-span-1 lg:col-span-7 w-full"
      [title]="baseTranslationPoint + 'recentlyUpdated.title' | translate"
      [description]="baseTranslationPoint + 'recentlyUpdated.description' | translate"
    >
      <!-- START::CARD HEADER CONTROLS -->
      <ng-container class="card-header-controls">
        <div class="flex flex-row items-center gap-3">
          <atlas-button
            variant="text"
            class="text-blue"
            [label]="baseTranslationPoint + 'recentlyUpdated.viewAllBtn' | translate"
            (onClick)="navigateToShipments()"
          ></atlas-button>
        </div>
      </ng-container>
      <!-- END::CARD HEADER CONTROLS -->

      <!-- START::CARD BODY -->
      <ng-container class="card-body">
        <!-- START::RECORDS LIST -->
        <div class="flex flex-col items-start gap-6 w-full">
          @for (record of recentShipments(); track record.shipmentID) {
            <atlas-overview-operational-record
              [class]="'w-full'"
              [shipmentID]="record.shipmentID"
              [shipmentRoute]="record.shipmentRoute"
              [status]="record.status"
              [timestamp]="record.timestamp"
            >
            </atlas-overview-operational-record>
          } @empty {
            <span class="text-sm text-secondary">No recent shipments found.</span>
          }
        </div>
        <!-- END::RECORDS LIST -->
      </ng-container>
      <!-- END::CARD BODY -->
    </atlas-card>
    <!-- END::RECENTLY UPDATED CARD -->

    <!-- START::Compliance distribution CARD -->
    <atlas-card
      class="col-span-1 xl:col-span-5 w-full"
      [title]="baseTranslationPoint + 'complianceDistribution.title' | translate"
      [description]="baseTranslationPoint + 'complianceDistribution.description' | translate"
    >
      <!-- START::CARD BODY -->
      <ng-container class="card-body">
        <atlas-overview-compliance-distribution-chart></atlas-overview-compliance-distribution-chart>
      </ng-container>
      <!-- END::CARD BODY -->
    </atlas-card>
    <!-- END::Compliance distribution CARD -->
  </div>
  <!-- END::GRID -->
</div>
