<div class="w-full flex flex-col items-start gap-10">
  <!-- START::HEADER -->
  <atlas-dashboard-header
    class="w-full"
    [eyebrow]="'SHIPMENT REGISTRY'"
    [title]="'Shipments'"
    [subTitle]="'Review routes, conditions, and compliance states.'"
  >
    <!-- START::CONTROLS -->
    <ng-container class="header-controls">
      <!-- START::CONTROLS -->
      <div class="flex flex-row items-center gap-2">
        <!-- START::REVIEW SHIPMENT BTN -->
        <atlas-button [icon]="'pi pi-refresh'" size="small"></atlas-button>
        <!-- END::REVIEW SHIPMENT BTN -->
      </div>
      <!-- END::CONTROLS -->
    </ng-container>
    <!-- END::CONTROLS -->
  </atlas-dashboard-header>
  <!-- END::HEADER -->
</div>
