<!-- START::NAVBAR -->
<nav class="w-full border-b border-border-default bg-bg-surface px-8 py-4">
  <!-- START::NAVBAR ITEMS CONTAINER -->
  <div class="w-full flex flex-row items-center justify-between gap-4">
    <!-- START::CONTENT -->
    <div class="flex flex-row items-center gap-3">
      <!-- START::TENANTS -->
      <atlas-tenants></atlas-tenants>
      <!-- END::TENANTS -->
    </div>
    <!-- END::CONTENT -->

    <!-- START::CONTROLS -->
    <div class="flex flex-row items-center gap-3">
      <!-- START::LANGUAGE SWITCH -->
      <atlas-lang-switch></atlas-lang-switch>
      <!-- END::LANGUAGE SWITCH -->

      <!-- START::PROFILE -->
      <atlas-profile></atlas-profile>
      <!-- END::PROFILE -->
    </div>
    <!-- END::CONTROLS -->
  </div>
  <!-- END::NAVBAR ITEMS CONTAINER -->
</nav>
<!-- END::NAVBAR -->
