<!-- START::TOASTER -->
<p-toast></p-toast>
<!-- END::TOASTER -->

<!-- START OF CONFIRMATION DIALOG REF -->
<p-confirmDialog [styleClass]="'cbt-dynamic-dialog'" />
<!-- END OF CONFIRMATION DIALOG REF -->

<!-- START::DASHBOARD LAYOUT -->
<section class="w-full min-h-screen bg-land-surface relative flex">
  <!-- START::MAIN AREA -->
  <main class="w-full max-h-screen overflow-auto p-6">
    <router-outlet></router-outlet>
  </main>
  <!-- END::MAIN AREA -->
</section>
<!-- END::DASHBOARD LAYOUT -->
